$color-fuente: rgb(43, 221, 153) 
.opciones{
    display: grid;
    grid-template-columns: repeat(3, 33, 3%);
    // grid-template-rows: repeat(1, 500px);
    gap: 1px 1px;
    grid-template-areas: "yerba1 yerba 2 yerba3";
    .card {}

        .clasico {
            color: $color-fuente;
        }

        .premium {
            color: $color-fuente;
        }

        .hierbas {
            color: $color-fuente;
        }
}
